<div class="mt-4 ml-4 container">
    <h3>Dang khoa hoc</h3>
    <form method="POST" action="/course/store">
        <div class="form-group">
        <label for="name">Tên khóa học</label>
        <input type="text" class="form-control" id="name" name="name">
         </div>
        <div class="form-group">
        <label for="description">Mo ta khoa hoc</label>
        <input type="text" class="form-control" id="description" name="description">
        </div>
         <div class="form-group">
        <label for="videoId">Video ID</label>
        <input type="text" class="form-control" id="videoId" name="videoId" >
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    </form>
</div>