<div class="mt-4 ml-4 container">
    <h3>Chỉnh sửa khóa hoc</h3>
    <form method="POST" action="/course/{{course._id}}?_method=PUT">
        <div class="form-group">
        <label for="name">Tên khóa học</label>
        <input type="text" class="form-control" id="name" value="{{course.name}}" name="name">
         </div>
        <div class="form-group">
        <label for="description">Mo ta khoa hoc</label>
        <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
         <div class="form-group">
        <label for="videoId">Video ID</label>
        <input type="text" class="form-control" id="videoId" value="{{course.videoId}}" name="videoId" >
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    </form>
</div>