<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Vinh Learn Backend</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t1.6435-9/60354223_495109264362085_451801461135769600_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=DdCwU65BAS8AX_tz-KH&_nc_ht=scontent.fsgn5-8.fna&oh=00_AT95dMMZRgLpDa4Dq5rJ9wfCJwLpU6ftluiIt6Gs-GEHAA&oe=6297AC6B" alt="" class="user-avatar">
          Vinh Trần
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/course/create">Đăng khóa học</a>
          <a class="dropdown-item" href="/me/stored/course">Khóa học của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>